@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  background: #7e7b7b;
  line-height: 1.3rem;
  color: #333;
}

p {
  font-size: 0.9rem;
  margin: 5px 0px;
}

a {
  text-decoration: none;
  color: #fff;
}

.title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 3px;
}

.btn {
  background: #179b9b;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

.container {
  width: 80vw;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 20px;
}

.form-group {
  width: 100%;
  padding: 20px;
  margin: 15px 0px;
  background: #333;
  border-radius: 5px;
}

.form-group input {
  width: 100%;
  font-size: 1rem;
  border: 0.5px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 15px;
  color: #333;
}

.wines {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.wine {
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 8px;
  background: #333;
  color: #fff;
  cursor: pointer;
}

.wine img {
  width: 100%;
  margin-bottom: 5px;
}

.details {
  text-align: center;
}

.wine-details {
  width: 100%;
  background: #333;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.wine-image {
  width: 100%;
  margin: 10px 0px;
}

.wine-details .details {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 15px;
}

.components {
  margin: 10px;
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
}

.components h3 {
  text-align: left;
  margin-bottom: 10px;
}

.components p {
  text-align: left;
  margin-bottom: 20px;
}

.component-details p {
  margin-bottom: 8px;
}

.component-types {
  width: 100%;
  margin: 10px 0px;
}

.component-types ul {
  display: flex;
}

.component-types li {
  list-style: none;
  flex-grow: 1;
}

.component-types button {
  font-size: 0.8rem;
  width: 100%;
  padding: 10px;
  border: none;
  background: #333;
  color: #fff;
  cursor: pointer;
  border-bottom: 2px solid #535353;
}

.component-types .selected {
  background: #535353;
  border-bottom-color: #fff;
}

.component-types button:hover {
  background: #535353;
}

.component-details {
  text-align: left;
}

.component-details .hidden {
  display: none;
}

.component-details .show {
  display: block;
}

.others {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) and (min-width: 601px) {
  .container {
    width: 100vw;
  }
  .wines {
    grid-template-columns: 1fr 1fr;
  }

  .others {
    flex-direction: column;
    text-align: left;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100vw;
  }
  .wines {
    grid-template-columns: 1fr;
  }

  .wine-details .details {
    grid-template-columns: 1fr;
  }

  .others {
    flex-direction: column;
    text-align: left;
  }

  .components {
    margin: 0;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
}
